section.dashboard-box {
  align-items: center;
  gap: 4rem;
}

hr {
  border: 1px solid rgba(175, 175, 175, 0.4);
}

div.dashboard-box h1 {
  font-size: 32px;
  font-weight: 600;
}

section.card-box h3 {
  margin-top: 1rem;
  font-weight: 600;

}

div.overview-card {
  padding: 20px;
  width: 100%;
  max-width: 320px;
  height: fit-content;
  max-height: 100px;
  margin-block: 0.5rem;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(175, 175, 175, 0.3);
}

div.overview-card h1.title {
  margin-block: 0 20px;
}

section.task-card {
  align-items: center;
  gap: 4rem;
  margin-block: 0.5rem;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

section.task-card h1.title {
  margin-block: 0 20px;
}

div.grid-layout {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.grid-layout-overview {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 1.5rem;
}


div.grid-layout div.card-list {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 250px;
}


section.card-pricing {
  gap: 2rem;
  margin-block: 0.5rem;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

section.card-pricing h1.title {
  margin-block: 0 20px;
}

div.grid-layout div.pricing-block {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 250px;
  transition: all 0.3s ease-in-out;
}

div.grid-layout div.pricing-block:hover {
  transform: translateY(-2%);
}

div.pricing-block p.price {
  font-size: 1.2rem;
}

div.pricing-block p.price strong {
  font-size: 2.5rem;
}

div.pricing-block div.title-block {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.pricing-block div.title-block p.price-title {
  font-size: 1.1rem;
}

div.pricing-block div.title-block p.popularity {
  background-color: #34efdf;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
}

div.pricing-block button.price-button {
  color: black;
  text-decoration: none;
  background-color: #97979770;
  font-size: 16px;
  border: none;
  padding: 8px;
  margin-block: 0.6rem;
  border-radius: 6px;
  font-weight: 500;
  width: 100%;
  max-width: 200px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

div.pricing-block button.price-button:hover {
  background-color: #979797d2;
}

div.pricing-block div.benefit-list p {
  margin-block: 0.6rem;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
}

div.task-box {
  margin-top: 4rem;
}

div.task-box table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f81f;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
