body {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  height: auto;
  margin: auto;
  max-width: 80rem;
  background: #c1f7f5;
}

.card-box {
  margin-block: 1rem;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}